@model XBC.ViewModel.RoleViewModel

<h3 class="text-center">Are you sure want to delete <strong> @Model.name</strong> ?</h3>
<br>

<div>

    @using (Html.BeginForm("Delete", "Role", FormMethod.Post, new { id = "form-delete", name = "form-delete" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)

        <div class="form-group text-center">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
        </div>
    }
</div>

<script type="text/javascript">
    $("#form-delete").submit(function () {
        //alert("Value Id : " + $(this).attr("data-id"));
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data successfully deleted");
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert("Error! " + result.message);
                }
            }
        });
        return false;
    });
</script>

